[sssd]
domains = {{internal_domain|lower}}.local
config_file_version = 2
services = nss, pam

[domain/{{internal_domain|lower}}.local]
enumerate = true
ad_domain = {{internal_domain|lower}}.local
krb5_realm = {{internal_domain|upper}}.LOCAL
realmd_tags = manages-system joined-with-samba
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = False
fallback_homedir = /home/%u@%d
access_provider = ad
auth_provider = ad
override_shell= /bin/bash
override_homedir = /home/homes/%u
ad_gpo_access_control = disabled
enumerate = true
ldap_id_mapping = False